$bgDark = #201f21
$sidebar = #262427
$contentBg = #2f2d31
$selectionBg = #38363a
$consoleBg = #403d41
$textDim = #8a898a
$textBright = #dad4ca

$red = #df6185
$green = #b8da7b
$yellow = #f4d76e
$orange = #e49769
$purple = #a59bef
$blue = #9cdae7